.gradle
build/
*.class
target/
application-secrets.yml

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.jqwik-database

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

.DS_Store
postgres-data
/dependencies/